:root {
  --light-gradient: repeating-linear-gradient(
    100deg,
    var(--color-light-200) 0%,
    var(--color-light-200) 7%,
    var(--transparent) 10%,
    var(--transparent) 12%,
    var(--color-light-200) 16%
  );
  --dark-gradient: repeating-linear-gradient(
    100deg,
    var(--color-dark-800) 0%,
    var(--color-dark-800) 7%,
    var(--transparent) 10%,
    var(--transparent) 12%,
    var(--color-dark-800) 16%
  );
  --aurora: repeating-linear-gradient(
    100deg,
    var(--color-blue-500) 10%,
    var(--color-purple-300) 15%,
    var(--color-blue-300) 20%,
    var(--color-purple-200) 25%,
    var(--color-blue-400) 30%
  );
  --color-outline: var(--color-blue-500);
}
